@model MVCReferenceProject.Models.Customer
<h1>Details</H1>

Id:@Html.DisplayFor(model => model.Id)<br/>
Name:@Html.DisplayFor(model => model.Name)<br/>
Amount:@Html.DisplayFor(model => model.Amount)<br/>
City:@Html.DisplayFor(model => model.City)<br/>